body {
  /* background-color: #242424; */
}

.navcolor {
  background-color: #323232;
}

.product-card{
  margin-bottom: 1.5rem;
  width: 260px;
  height: 25rem;
  box-shadow: 1px 1px 5px grey;
  cursor: pointer;
}

.product-image {
    margin-top: 5px;
    width: 100%;
    height: 210px;
    object-fit: contain;
}

.product-price{
  margin-bottom: .7vh;
  font-size: .8rem;
}

.product-description{
  font-size: .9rem;
}

.detail-container {
  border: 2px solid lightgrey;
  box-shadow: 1px 1px 3px grey;
}

.detail-image {
  width: 100%;
  height: 20vw;
  object-fit: contain;
}

.cart{
  color: white;
  cursor: pointer;
}

.cart-image {
  width: 100%;
  height: 225px;
  object-fit: contain;
  margin: 15px 0;
}

.checkout-total{
  color: darkgray;
}

.form-group > label {
  font-weight: 500;
}


@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .product-list {
    max-width: 700px;
  }
}

@media only screen and (min-width: 768px) {

}
