* {
  font-family: 'Roboto Condensed', sans-serif;
}

.cursor-pointer{
  cursor: pointer;
}

.logo{
  width: 25px;
  float:none;
  display:inline-block;
  vertical-align: top;
  padding-top: 2px;
}

.navcolor {
  background-color: #323232;
}

.product-card{
  margin-bottom: 1.5rem;
  width: 280px;
  height: 440px;
  box-shadow: 1px 1px 5px grey;
  cursor: pointer;
}

.product-image {
  margin-top: 5px;
  width: 100%;
  height: 210px;
  object-fit: contain;
}

.product-price{
  margin-bottom: .7vh;
  font-size: .9rem;
}

.product-description{
  font-size: 1rem;
}

.detail-container {
  border: 2px solid lightgrey;
  box-shadow: 1px 1px 3px grey;
  padding: 3%;
}

.detail-image {
  width: 300px;
  object-fit: contain;
}

.cart{
  color: white;
  cursor: pointer;
}

.cart-image {
  width: 100%;
  height: 225px;
  object-fit: contain;
  margin: 15px 0;
}

.checkout-total{
  color: darkgray;
}

.form-group > label {
  font-weight: 500;
}

.banner-container{
  position: relative;
}

.banner-text{
  width: 15%;
  color: white;
  position: absolute;
  top: 30%;
  left: 18%;
}

.hd560s-title{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3.5vw;
  text-shadow: 2px 2px black;
}

.hd560s-text{
  font-size: 1.9vw;
  font-family: 'Open Sans Condensed', sans-serif;
  text-shadow: 1.5px 2px black;
  line-height: 1.2;
}


@media only screen and (min-width: 768px) and (max-width: 992px){
  .detail-image{
    width: 250px;
    padding-left: 0;
  }
  .detail-description{
    margin-left: 50px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .product-list {
    max-width: 700px;
  }

  .cart-summary-item{
    margin-left: 5%;
    margin-right: 5%;
  }

}

@media only screen and (min-width: 370px) and (max-width: 575.98px) {
  .cart-summary-item{
    margin-left: 2%;
    margin-right: 2%;
  }

  .cart-summary-total{
    margin-left: 1%;
    margin-right: 1%;
  }

  .checkout-container{
    margin-left: 5%;
    margin-right: 5%;
  }
}
